<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <title>Terms and conditions</title>
</head>
<body>
    <h2 style="text-align: center">Terms and conditions of registration</h2>
    <p>Welcome to the registration to Confer web forum and its related services. You may access many areas of our website without registering your details with us. Certain areas are only open to you if you register. The terms and conditions which govern material submitted by you to us and your use of the website (including all 'Confer web forum' branded microsites and any email bulletins) are governed by our general "Terms and Conditions of Reading". These Terms and Conditions of Registration are in addition to the general Terms and Conditions of Reading.</p>
    <ol>
        <li class="registration-section">
            <h4>Registration</h4>
            <ol>
                <li>
                    <p>By registering here and creating your "Confer web forum Profile", you can access different services that are offered by us without having to register for each service separately. If a service you wish to subscribe to has additional terms and conditions, you will be asked to accept these separately.</p>
                </li>
                <li>
                    <p>You agree that:</p>
                    <p>1) you will keep your username and password safe, and won't share them with anyone;</p>
                    <p>2) you will not pass yourself off as someone else or create multiple, false accounts.</p>
                </li>
            </ol>
        </li>
        <li class="term-section">
            <h4>Term</h4>
            <ol>
                <li>
                    <p>If you breach these or any of our other terms and conditions we reserve the right to close your account, if we do so, we may close all accounts you have open in your name.</p>
                </li>
                <li>
                    <p>To deactivate your account please contact our customer services department; their details can be found under "contact us" on your Confer web forum Profile page.</p>
                </li>
            </ol>
        </li>
        <li class="administration-section">
            <h4>Administration</h4>
            <ol>
                <li>
                    <p>You can update your personal details (including your account and marketing preferences) by accessing your account at your Confer web forum Profile page and making any necessary changes; this will update your details across all services that you have subscribed to.</p>
                </li>
            </ol>
        </li>
        <li class="data-section">
            <h4>Data</h4>
            <ol>
                <li>
                    <p>Full details of the way in which we use cookies on our website and how we hold and process your information can be found in our Privacy and Cookie Policy</p>
                </li>
            </ol>
        </li>
        <li class="general-section">
            <h4>General</h4>
            <ol>
                <li>
                    <p>No waiver by us of any breach of these terms shall constitute a waiver of any other prior or subsequent breach and we shall not be affected by any delay, failure or omission to enforce or express forbearance granted in respect of any of your obligations.</p>
                </li>
                <li>
                    <p>The rights and remedies of is under these terms are independent, cumulative and without prejudice to its rights under the law.</p>
                </li>
                <li>
                    <p>These terms are not intended to create and shall not create any rights, entitlements, claims or benefits enforceable by any third party by virtue of the Contracts (Rights of Third Parties) Act 1999.</p>
                </li>
                <li>
                    <p>These terms and/or your use of the website shall be governed by and construed in accordance with English law and the English Courts shall have exclusive jurisdiction over any dispute which may arise.</p>
                </li>
            </ol>
        </li>
    </ol>

    <footer th:replace="layout :: site-footer"/>

</body>
</html>